.pizza-size-selector {
	border-radius: 20px;
	background-color: #f2f2f6;
	display: flex;
	width: 300px;
	height: 30px;
}

.pizza-menu-root {
	display: flex;
	flex-direction: row;
	column-gap: 20px;
}

.pizza-menu__addons {
	flex: 1;
}

.size-selector-wrapper {
	font-size: 24px;
}

.topping-selector-title {
	font-size: 18px;

}

.topping-selector-wrapper{
	margin-top: 20px
}

.pizza-size-selector__button {
	justify-content: space-between;
	border-width: 0px;
	box-shadow: 10px 10px 20px lightgray;
	margin: 2px;
	border-radius: 20px;
	width: 100%;
	background-color: #f2f2f6;
	/* padding: 10px; */
}

.pizza-size-selector__button--active {
	background-color: #fdfefe;
}

.pizza-list {
	display: flex;
	width: 500px;
	flex: 2;

}

.pizza-list-item{
	height: 200px;
	width: 200px;
	background-color: #fefefd;
	border-width: 0px;
	border-radius: 10px;
}

.pizza-list-item--active{
	background-color: #f2f2f6;
}

.pizza-list-item__image{

}

.pizza-list-item__name{

}

.pizza-topping-selector{
	display: flex;
	border-radius: 20px;
	column-gap: 10px;
}

.pizza-topping-selector__item{
	width: 120px;
	height: 140px;
	border-width: 0px;
	box-shadow 10px 10px;
	border-radius: 20px;
	background-color: #fefefe;
	box-shadow: 10px 10px 20px lightgray;
}

.pizza-topping-selector__item__image{
	object-fit: cover;
	height: 100px;
	width: 100px;
}

.pizza-topping-selector__item--active{
	border-width: 1px;
	border-color: orange;
}

.add-to-cart {
	background-color: #ec702c;
	font-size: 16px;
	width: 400px;
	margin-top: 50px;
	height: 100px;
	border-radius: 50px;
	border-width: 0px;
	color: white;
}
